.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  text-transform: uppercase;
  text-align: center;
}
.company-card{
  padding: 20px;
  max-width: 100%;
}

.number-nav{
  display: flex;
  justify-content: space-around;
  max-width: 15%;
  margin: 0 auto;
  padding: 50px;
  cursor: pointer;
  color: rgb(6, 51, 110);
}

.company-name{
  color: rgb(6, 51, 110);
  text-align: center;
  text-transform: uppercase;
  height: 45px;
  font-size: 12px;
  width: 170px;
  padding-top: 20px;
}

.number-nav div:active{
text-decoration: underline;
}

.page-number{
  padding-left: 10px;
  padding-bottom: 30px;
  color: rgb(6, 51, 110);
}